

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
    width: 1440px;
    height: 900px;
    background-color: rgba(131, 226, 43, 0.39);
}
  .box-one {
    grid-column: 1 / 3 ;
    grid-row: 1 / 4 ;
    background-color: green;
}

.box-two {
    grid-column: 3 / 5 ;
    grid-row: 1/7 ;
    background-color: cadetblue;
    
}
.box-three {
    grid-column: 5 / 7 ;
    grid-row: 1 / 3 ; 
    background-color: darkseagreen;
}
.box-four {
    grid-column: 5 /7 ;
    grid-row: 3/5 ; 
    background-color: darkslategrey;
}
.box-five {
    grid-column: 5 /7 ;
    grid-row: 5/7 ; 
    background-color: darkolivegreen
}
.box-six {
    grid-column:1/3 ;
    grid-row:4 / 7;
    background-color: darkslateblue;
}
.box-seven {
    grid-column:1/3 ;
    grid-row: 7/11;
    background-color: dimgrey;
}
.box-eight {
    grid-column:3/4 ;
    grid-row: 7/9;
    background-color: darkgoldenrod;
}
.box-nine {
    grid-column: 3/4;
    grid-row:9/11 ;
    background-color: darkkhaki;
}
.box-ten {
    grid-column:4/6 ;
    grid-row:7/11 ;
    background-color: darkseagreen;
}
.box-eleven {
    grid-column: 6/7;
    grid-row: 7/11 ;
    background-color: darkslateblue;
}
.box-twelwe {
    grid-column:1/7;
    grid-row:11/13 ;
    background-color: firebrick;
    font-size: 100px;
}
