.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
    width: 1440px;
    height: 900px;
    background-color: rgba(131, 226, 43, 0.39);
}
  .box-one {
    grid-area: 1/1/4/3;
    background-color: green;
}
.box-two {
    grid-area: 1/3/7/5;
    background-color: cadetblue;
}
.box-three {
    grid-area: 1/5/3/7;
    background-color: darkseagreen;
}
.box-four {
    grid-area: 3/5/5/7;
    background-color: darkslategrey;
}
.box-five {
    grid-area: 5/5/7/7;
    background-color: darkolivegreen
}
.box-six {
    grid-area: 4/1/7/3;
    background-color: darkslateblue;
}
.box-seven {
    grid-area: 7/1/11/3;
    background-color: dimgrey;
}
.box-eight {
    grid-area: 7/3/9/4;
    background-color: darkgoldenrod;
}
.box-nine {
    grid-area: 9/3/11/4;
    background-color: darkkhaki;
}
.box-ten {
    grid-area: 7/4/11/6;
    background-color: darkseagreen;
}
.box-eleven {
    grid-area: 7/6/11/7;
    background-color: darkslateblue;
}
.box-twelwe {
    grid-area: 11/1/13/7;
    background-color: firebrick;
    font-size: 100px;
}
